.Img-Container{
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: span 1;

}
.Img-Container img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.overlay{
    width: 100%;
    height:100%;
    background-color: rgba(3, 14, 49, 0.26);

}
.overlay p{

    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: xx-large;
    color: aliceblue;
}

@media screen and (max-width :940px){

        .overlay p{
            font-size: x-large;
        }

}